<!DOCTYPE html>
<html>
<head>
  <title>ShibuyaAssets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ui fixed inverted menu">
  <div class="ui container align left">
    <div href="#" class="header item">
      shibuya assets
    </div>
  </div>
</div>
<br>
<br>
<div class="ui top attached tabular menu">
  <div class="active item">GameInfo</div>
  <div class="item">serif</div>
  <div class="item">person</div>
</div>
<div class="ui bottom attached active tab segment">
  <div class="row">
    <button class="ui button">create new</button>

    <!-- create new -->
    <form class="ui form">
      <div class="field">
        <label>Serif Text</label>
        <input type="text" name="serif" placeholder="Some cool">
      </div>
      <button class="ui button" type="submit">Submit</button>
    </form>
    <!-- create new -->

    <table class="ui basic table">
      <thead>
        <tr>
          <th>id</th>
          <th>text</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>サイバーAの女性管理職特集、インタビューの一覧を見るときらきら云々というより、お化粧や服装、身だしなみに毎日手を抜いてない人たちって感じですね。それが結果美人さんになるのかもですが。</td>
          <td><button class="ui icon button"><i class="edit icon"></i></button></td>
          <td><button class="ui icon button"><i class="delete icon"></i></button></td>
        </tr>

        <tr>
          <td>1</td>
          <td>サイバーAの女性管理職特集、インタビューの一覧を見るときらきら云々というより、お化粧や服装、身だしなみに毎日手を抜いてない人たちって感じですね。それが結果美人さんになるのかもですが。</td>
          <td><button class="ui icon button"><i class="edit icon"></i></button></td>
          <td><button class="ui icon button"><i class="delete icon"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%= yield %>

</body>
</html>
